a{
    font-size: 2vw;
    text-decoration: none;
    font-family: 'Bradley Hand', monospace;
    color: #E1C1B3;
}

.rectangle {
    background-color: #DF9271;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
}