input[type=text] {
    width: 300px;
    padding: 12px 20px;
    border: 0px;
    border-radius:4px;
}

input[type=text]:focus {
    outline-color: #DF9271;
}

textarea[type=text] {
    border: 0px;
    border-radius: 4px;
}

p {
    font-family: 'Bradley Hand', monospace;
    color: #DF9271;
    font-size: 6vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    input[type=text] {
        width: 200px;
    }
    
    textarea[type=text] {
        width: 300px;
    }

    p {
        font-size: 4vh;
    }
}

textarea[type=text]:focus {
    outline-color: #DF9271;
}

.boundary {
    margin: 3%;
}

.text-label {
    font-family: 'Bradley Hand', monospace;
    color: #DF9271;
    font-size: 20px;
}



.form-item {
    padding-bottom: 2%;
}

