input[type=text]{
    width: 15%;
    padding: 12px 20px;
    border: 0px;
    border-radius:4px;
}

textarea[type=text]{
    border: 0px;
    border-radius: 4px;
}

p {
    font-family: 'Bradley Hand', monospace;
    color: #DF9271;
}

.boundary {
    margin: 2%;
}