<form [formGroup]="contactForm">
    <mat-form-field>
        <mat-label for="contactName">Name</mat-label>
        <input matInput id="contactName" formControlName="contactName">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="contactEmail">Email</mat-label>
        <input matInput id="contactEmail" formControlName="contactEmail">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="contactSubject">Subject</mat-label>
        <input matInput id="contactSubject" formControlName="contactSubject">   
    </mat-form-field>
    <mat-form-field>
        <mat-label for="contactMessage">Message</mat-label>
        <textarea matInput id="contactMessage" formControlName="contactMessage"></textarea>
    </mat-form-field>
</form>

<button mat-raised-button (click)="onSubmit()">Submit</button>