input[type=text]{
    width: 15%;
    padding: 12px 20px;
    border: 0px;
    border-radius:4px;
}

textarea[type=text]{
    border: 0px;
    border-radius: 4px;
}

.boundary {
    margin: 3%;
}

.text-label {
    font-family: 'Bradley Hand', monospace;
    color: #DF9271;
    font-size: 20px;
}

.title {
    font-family: 'Bradley Hand', monospace;
    color: #DF9271;
    font-size: 50px;
    padding-top: 3%;
    display: flex;
    justify-content: center;
}

.form-item {
    padding-bottom: 2%;
}

