<form [formGroup]="contactForm">
    <div>
        <label for="contactName">Name: </label>
        <input id="contactName" type="text" formControlName="contactName">
    </div>
    <div>
        <label for="contactEmail">Email: </label>
        <input id="contactEmail" type="text" formControlName="contactEmail">
    </div>
    <div>
        <label for="contactSubject">Subject: </label>
        <input id="contactSubject" type="text" formControlName="contactSubject">
    </div>
    <div>
        <label for="contactMessage">Message: </label>
        <input for="contactMessage" type="text" formControlName="contactMessage">
    </div>
</form>