mat-card-header {
    height: 5rem;
    margin: auto;
}

img {
    height: 17rem;
}

.card-class {
    width: 17%;
    float: left;
    margin: 1%;
    background-color: #DF9271;
}

.mat-card-text {
    color: #e6cfc6;
}

