img {
    border-radius: 50%;
    filter: grayscale(100%);
    width: 50%;
}

p {
    font-family: 'Bradley Hand', monospace;
    color: #DF9271;
}

.title {    
    font-size: 60px;
}

.description {
    font-size: 20px;
}

@keyframes slide {
    from {
        padding-top: 40%;
        opacity: 0;
    }
    to {
        padding-top: 20%;
        opacity: 1;
    }
}

@keyframes slide3 {
    from {
        padding-top: 25%;
        opacity: 0;
    }
    to {
        padding-top: 5%;
        opacity: 1;
    }
}

.slide-in {
    padding-top: 40%;
    animation: forwards;
    animation-name: slide;
    animation-duration: 1s;
}

.slide-in2 {
    margin-right: 10%;
    padding-top: 40%;
    opacity: 0;
    animation: forwards;
    animation-name: slide;
    animation-delay: 1s;
    animation-duration: 1s;

}

.slide-in3 {
    margin-right: 10%;
    opacity: 0;
    animation: forwards;
    animation-name: slide3;
    animation-delay: 2s;
    animation-duration: 1s;
}

.half{
    height: 100%;
    width: 50%; 
    position: fixed;  
}

.left{
    left: 20%;
}

.right {
    right: 0;
}


