<div class="page-container">
    <div class="left half">
        <div class="slide-in">
            <a> <img src="assets/SmruthiD.png"> </a>
        </div>
    </div>
    <div class="right half">
        <div class="slide-in2">
            <p class="title">About Me</p>
        </div>
        <div class="slide-in3">
            <p class="description">Hi, I'm Smruthi! I am currently a firmware engineer working at Meta as a vendor. 
                I am an enthusiast of full-stack development and data science. In my free time, I enjoy playing the 
                guitar, reading, watching tv, but most importantly spending time with family and friends.
            </p>
        </div>
    </div>
</div>

