ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.left{
    left: 0;
}

.right {
    right: 0;
}

.quarter{
    height: 100%;
    width: 40%; 
    position: fixed;  
}

.three-quarters {
    height: 100%;
    width: 60%; 
    position: fixed; 
    overflow-y:scroll; 
}

.topic {
    height: 100vh;
}