<div class="left quarter">
    <nav>
        <ul>
            <li><a (click)="scrollToElement('work')">Work Experience</a></li>
            <br>
            <li><a (click)="scrollToElement('edu')">Education</a></li>
            <br>
            <li><a (click)="scrollToElement('tech')">Technology Used</a></li>

        </ul>
    </nav>
</div>

<div class="right three-quarters container">
    <div style="margin: 5%;">
        <div class="topic" id="work">
            <h2 class="title">Work Experience</h2>
            <mat-card>
                <mat-card-content>
                    <h3>Meta (contract)</h3>
                    <h4>Firmware Engineer</h4>
                    <h5>September 2022 - Present</h5>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <h3>Microchip</h3>
                    <h4>Software Engineer 1</h4>
                    <h5>April 2021 - September 2022</h5>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <h3>TriNet</h3>
                    <h4>Software Development Intern</h4>
                    <h5>June 2020 - December 2020</h5>
                    <h5>June 2019 - August 2019</h5>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="topic" id="edu">
            <h2 class="title">Education and Certifications</h2>
            <mat-card>
                <mat-card-content>
                    <h3>SJSU</h3>
                    <h4>BS Computer Engineering</h4>
                    <h5>August 2017 - December 2020</h5>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <h3>UC Berkeley Certification</h3>
                    <h4>Fintech Bootcamp</h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="topic" id="tech">
            <h2 class="title">Technology</h2>
            <mat-grid-list cols="2" rowHeight="3:1">
                <mat-grid-tile><h4>C++</h4></mat-grid-tile>
                <mat-grid-tile><h4>Python</h4></mat-grid-tile>
                <mat-grid-tile><h4>Angular</h4></mat-grid-tile>
                <mat-grid-tile><h4>Github</h4></mat-grid-tile>

            </mat-grid-list>
        </div>
    </div>
</div>