<div class="left">
    <ul>
        <li><a href="/">Education</a></li>
        <li><a href="/">Technology</a></li>
        <li><a href="/">Work Experience</a></li>
        <li><a href="/">Projects</a></li>
    </ul>
</div>

<div class="right">
    <div class="topic">
        <h2 class="title">Technology</h2>
        <h3 class="tech">C++</h3>
        <h3 class="tech">Python</h3>
        <h3 class="tech">Angular (HTML, CSS, Typescript)</h3>
        <h3 class="tech">GIT</h3>
    </div>
    <div class="topic">
        <h2>Work Experience</h2>
        <h3 class="company">Meta</h3>
        <h3 class="company">Microchip</h3>
        <h3 class="company">TriNet</h3>
    </div>
    <div class="topic">
        <h2 class="title">Education and Certifications</h2>
        <h3 class="edu">San Jose State University</h3>
        <h3 class="edu">UC Berkeley</h3>
    </div>
    <div class="topic">
        <h2 class="title">Projects</h2>
    </div>
</div>