ul {
    list-style-type: none;
}

li a {
    font-size: 4vh;
    line-height: 6vh;
    text-decoration: none;
    cursor: pointer;
    color: #bc7b5f;
    font-family: 'Bradley Hand', monospace;
}

.quarter{
    left: 0;
    height: 100%;
    width: 35%; 
    position: fixed;  
}

.three-quarters {
    right: 0;
    height: 100%;
    width: 65%; 
    position: fixed; 
}

.container {
    overflow-y:scroll; 
    scroll-snap-type: y mandatory;
}

.topic {
    height: 100vh;
    scroll-snap-align: start;
}

h2 {
    font-size: 8vh;
    padding-top: 5%;
    line-height: 8.5vh;
    font-family: 'Bradley Hand', monospace;
    color: #bc7b5f;
}

h3 {
    font-size: 4vh;
    font-family: 'Bradley Hand', monospace;
    color: #bc7b5f;
}

h4 {
    font-size: 3vh;
    font-family: 'Bradley Hand', monospace;
    line-height: 3vh;
    color: #985f47;
    
}

h5 {
    font-size: 2vh;
    font-family: 'Bradley Hand', monospace;
    line-height: 2vh;
    color: #bc7b5f;
}

p{
    font-family: 'Bradley Hand', monospace;
    color: #bc7b5f;
}

mat-card {
    margin: 2%;
    background-color: white;
}

mat-grid-tile {
    background-color: white;
}



@media screen and (max-width: 600px) {
    h2 {
        font-size: 4vh;
        line-height: 4.5vh;
    }

    h3 {
        font-size: 2.5vh;
    }

    h4 {
        font-size: 2vh;
        line-height: 2vh;
    }

    h5 {
        font-size: 1.5vh;
        line-height: 1.5vh;
    }

    li a {
        font-size: 2vh;
        line-height: 2vh;
        text-decoration: none;
        cursor: pointer;
        color: #bc7b5f;
        font-family: 'Bradley Hand', monospace;
    }
}

